.header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    margin: 92px 24px 0;
    height: 105px;
}
.header__links-list {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.header__menu {
    align-self: center;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}
.header__logo {
    margin-left: 36px;
    width: 148px;
    height: 105px;
}

.address {
    display: block;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    margin: 5px 25px 2px 184px;
    line-height: 24px;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;
    height: 757px;
    margin-top: 96px;
    position: relative;
}

.cover__title {
    padding: 165px 50px 0;
    font-weight: 700;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    display: block;
    z-index: 2;
}

.cover-span {
    display: block;
}

.aligned-text {
    letter-spacing: 30px;
    line-height: 115px;
}

.letter-spacing-extended{
 letter-spacing: 60px;
}

.aligned-text_center{
    letter-spacing: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
}

.aligned-text_right{
    letter-spacing: 60px;
    text-align: right;
    margin-top: 20px;
    line-height: 100px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-short {
    letter-spacing: 30px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 51px 78px;
}


.cover__description-text {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 1em;
    text-transform: uppercase;
    align-self: center;
}

.bet-button {
    color: white;
    width: 256px;
    height: 51px;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}