.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px 24px 0;
}

.header__links-list {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    font-size: 18px;
}

.header__menu {
    align-self: center;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.link-active {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    letter-spacing: 1px;
}

.header__logo {
    margin-left: 36px;

}

.header__image {
    width: 148px;
    height: 105px;
}

.address {
    display: block;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    margin: 5px 25px 2px 184px;
    line-height: 24px;
}

.header__address {
    letter-spacing: 1px;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1100px;
    min-height: 757px;
    margin-top: 96px;
    position: relative;
}

.cover__title {
    padding: 165px 50px 0;
    font-weight: 700;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    display: block;
    z-index: 2;
}

.cover-span {
    display: block;
}

.aligned-text {
    letter-spacing: 30px;
    line-height: 115px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    letter-spacing: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
}

.aligned-text_right {
    letter-spacing: 60px;
    text-align: right;
    margin-top: 20px;
    line-height: 100px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-short {
    letter-spacing: 30px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inset: 0 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 51px 78px;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: uppercase;
    align-self: center;
}

.bet-button {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    width: 256px;
    height: 51px;
    border: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lots {
    margin: 179px 24px 0;
}

.lots__heading {
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

.cards {
    margin-top: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card {
    height: 563px;
    width: 334px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 51px 40px 48px;
    position: relative;
}

.card-link {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");

}

.card-link-book {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    font-size: 22px;
    z-index: 2;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    z-index: 2;
}

.card__dots {
    letter-spacing: 5px;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    display: inline-block;
}

.about {
    margin: 146px 24px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 35px 0 0 47px;

}

.about__logo-image {
    height: 140px;
    width: 140px;

}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 136px;
}

.about__text {
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 180px 50px  88px;
}

.address-no-space {
    margin: 0;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer__social-list-item {
    display: block;
    height: 48px;
    width: 48px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
}